{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}

<html lang="en">
<head>
<link rel="stylesheet" href="{% static '/compras/compras/menucompras.css' %}">
<script src="{% static '/compras/compras/menucompras.js' %}"></script>
 <script src="{% static '/js/sweetalert2.all.min.js' %}"></script>

</head>
<body onload="actelementos()">
 <div class="contenedor-menu-cat">
 <ul class="menu-cat">

 <li><a class ="atexttit" href="#"onclick="seleccab();">COMPRA</a>  <ul class="menu-cat">
 <!--<li><a href="{% url 'proveedor_cargar' pk_token=0 %}" >proveedor</a> </li>-->
 <!--<li><a href="{% url 'presupuestocompcab_cargar' pk_token=0 %}" >presupuesto de compra</a> </li>-->
 <li><a href="{% url 'pedidocompcab_cargar' pk_token=0 %}" >pedido de compra</a> </li>
 <li><a href="{% url 'ordencompcab_cargar' pk_token=0 %}" >orden de compra</a> </li>
 <li><a href="{% url 'compracab_cargar' pk_token=0 %}" >compras</a> </li>
 <li><a href="{% url 'notacreditocompcab_cargar' pk_token=0 %}" >Nota Credito de compra</a> </li>
 <!--<li><a href="{% url 'notadebitocompcab_cargar' pk_token=0 %}" >Nota debito de compra</a> </li>-->
 </ul>
 </li>

 <li><a class ="atexttit"  href="#"onclick="seleccab();"> LISTADOS </a> <ul class="menu-cat">
 <li><a href="{% url 'compracabinf' %}" > informe compra</a> </li>
 <li><a href="{% url 'ordendecompracab_inf' %}" > informe orden de compra</a> </li>
 <li><a href="{% url 'presupdecompracab_inf' %}" > inf presupuesto de compra</a> </li>
 <li><a href="{% url 'pedidodecompracab_inf' %}" > inf pedido de compra</a> </li>
 <li><a href="{% url 'notacreddecompracab_inf' %}" > inf nota credito de compra</a> </li>
 <!--<li><a href="{% url 'notadebdecompracab_inf' %}" > inf nota debito de compra</a> </li>-->
 </ul></li>

 </ul>
 </div>
</body>
</html>
{% endblock %}


{% block scripts %}
  <script>
    {% if messages %}
      {% for message in messages %}
         Swal.fire({  title: '',
          			  text:  '{{ message }}',
  					  icon: '{{ message.tags }} ',
  		 customClass: {
    	 container: 'msnsuccess',

  }
});

      {% endfor %}
    {% endif %}


    </script>

{% endblock %}