{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html>

<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
<link rel="stylesheet" href="{% static '/compras/compras/notadebitodecompra.css' %}">
<script src="{% static '/compras/compras/notadebitodecompra.js' %}"></script>
</head>
<body onload="actelementos(), procesarfun()">
		<div id="cab"  class="cab" >
	<div  id="btncab"  class="btncab" >
		<a class="btn" href="{% url 'notadebitocompcab_filtro' %}" >RETORNAR</a>

	</div>
	<div  id="titcab"  class="titcab" > NOTA DEBITO - COMPRA  </div>
    </div>




    <div class="columna" id="columna" >
    <div class="columnalst" id="columnalst" >

    <div class="columnalst1"  >
    <div class ="celdalistadot" >FECHA </div>
    <div class ="celdalistadot" >NRO NOTA DEBITO</div>
    <div class ="celdalistadot" >PROVEEDOR </div>
    </div>

    <div class="columnalst2">
    <div class ="celdalistadot" >RUC </div>
    <div class ="celdalistadot" >TIMBRADO</div>
    <div class ="celdalistadot" >TIPO DOC </div>
    </div>

    </div>
{% for notadebitocompcab in notadebitocompcab %}
    <div class="columnalst"  >
    <div class="columnalst1"  class="columnalst1" >
    <div class ="celdalistado" > {{ notadebitocompcab.fecha |date:'d-m-Y'}}</div>
    <div class ="celdalistado" > {{ notadebitocompcab.nrodebito }}</div>
    <div class ="celdalistado" > {{ notadebitocompcab.proveedor }}</div>
    </div>

    <div class="columnalst2"  >
    <div class ="celdalistado" > {{ notadebitocompcab.ruc }}</div>
    <div class ="celdalistado" > {{ notadebitocompcab.timbrado }}</div>
    <div class ="celdalistado" > {{ notadebitocompcab.tipodoc }}</div>

   <div class ="cellistbtn" >
       <a href="{% url 'notadebitocompcab_cargar' pk_token=notadebitocompcab.pknd %}">
        <button class="btnlstm"> cargar</button>
        </a>
   </div>

   </div>   <! columnalst2>
   </div>   <! columnalst>
{% endfor %}
</div> <! columna >

{% endblock %}
</body>
</html>

