{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html>

<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
	<script src="{% static '/compras/compras/proveedor.js' %}"></script>		
	</script><script src="{% static '/stock/stock/articulos.js' %}"></script>
<link rel="stylesheet" href="{% static '/compras/compras/notadebitodecompra.css' %}">
<script src="{% static '/compras/compras/notadebitodecompra.js' %}"></script>
<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>

</head>
<body onload="actelementos(), cargarcombos(), actcompelem()" >
	<div id="cab"  class="cab" >
		<div  id="btncab"  class="btncab" >
			<a class="btn" href="{% url 'menucompras' %}" >RETORNAR</a>
		</div>

	<div  id="titcab"  class="titcab" > {{ title }}</div>
    </div>
		<form id="notadebitocomp_frm" action="{{ sidr }}" method="POST">
        {% csrf_token %}
		<div id="columna0"  class="columna0" >
		<div id="columna1"  class="columna1" >
		<div  class="campo1" > <label >fecha :</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fecha" name="fecha" value="{{ notadebitocompcab.fecha |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > <label >nroorden:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  class="txtnrofactura" id="id_nrodebito" name="nrodebito" value="{{ notadebitocompcab.nrodebito }}" > <br> </div>
		<div  class="oclultar" > <label >idcompracab:</label >   </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %} type="text" id="id_pknd"  name="idpknd" value={{ pknd }}><br> </div>
		<div  class="oclultar" > <label >idproveedor:</label >   </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %} type="text" id="id_idproveedor"  name="idproveedor" value="{{ notadebitocompcab.idproveedor }}"><br> </div>
		<div  class="campo1" > 	<label >proveedor:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_proveedor" name="proveedor"  list="porv_list" onchange="codigoprov(this.value)" value="{{ notadebitocompcab.proveedor }}"><br> </div>
		</div>   <!-- COLUMNA 1 -->
		<div id="columna2"  class="columna2" >
		<div  class="campo1" > <label >ruc:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_ruc" name="ruc" value="{{ notadebitocompcab.ruc }}"><br> </div>
		<div  class="campo1" > <label >timbrado:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_timbrado" name="timbrado" value="{{ notadebitocompcab.timbrado }}"><br> </div>
    	<div  class="campo1" > <label >tipodoc:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} class="txtfecha" type="text"  id="id_tipodoc" name="tipodoc"  list="tipodoc_list" value="{{ notadebitocompcab.tipodoc }}"><br> </div>

		</div>   <!-- COLUMNA 1 -->
		<div id="columna3"  class="columna2" >
		<div  class="oclultar" > <label >direccion:</label>   </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %}  type="text"  id="id_condicion" name="condicion" value="{{ notadebitocompcab.condicion }}"><br> </div>
		<div  class="campo1" > 	<label >fechavto :</label>   </div>
		<div  class="campo2" > 	<input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fechavto" name="fechavto" value="{{ notadebitocompcab.fechavto |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > 	<label >fecharece :</label>   </div>
		<div  class="campo2" > 	<input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fecharece" name="fecharece" value="{{ notadebitocompcab.fecharece |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > <label >obs:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_obs" name="obs" value="{{ notadebitocompcab.obs }}"><br> </div>
		</div>   <!-- COLUMNA 3 -->

		</div><!-- COLUMNA 0-->
		</form>


	<div   class="botones" >
 			{% if not hab1 %}
			<a class="boton" href="#" onclick="document.getElementById('notadebitocomp_frm').submit();">GUARDAR</a>
		    <a class="boton" href="{% url 'notadebitocompcab_cargar' pk_token=pknd|default:0   %}" >CANCELAR</a>
			{% endif %}
 			{% if not hab2 %}
			<a class="boton" href="{% url 'notadebitocompcab_crear' %}" >NUEVO</a>
		    <a class="boton" href="{% url 'notadebitocompcab_editar' pk_token=pknd|default:0   %}" >EDITAR</a>
			<a class="boton" href="{% url 'notadebitocompcab_eliminar' pk_token=pknd|default:0   %}" >ELIMINAR</a>
			<a class="boton" href="{% url 'notadebitocompcab_filtro' %}" >BUSCAR</a>
			{% endif %}

		</div>


		<div id="listadodet" class="listadodet">
			<ul id="compras-list">

			</ul>
		</div>

</body>
</html>
{% endblock %}

{% block scripts %}
  <script>
    {% if messages %}
      {% for message in messages %}
         Swal.fire({  title: '',
          			  text:  '{{ message }}',
  					  icon: '{{ message.tags }}',
  		 customClass: {
    	 container: 'msnsuccess',

  }
});

      {% endfor %}
    {% endif %}


    </script>

{% endblock %}

