{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html>

<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
<link rel="stylesheet" href="{% static '/compras/compras/ordendecompra.css' %}">
<script src="{% static '/compras/compras/ordendecompra.js' %}"></script>
<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>
</head>
<body onload="actelementos(), procesarfun()">
	<div id="cab"  class="cab" >
	<div  id="btncab"  class="btncab" >
	<a class="btn" href="{% url 'ordencompcab_filtro' %}" >RETORNAR</a>
    </div>

	<div  id="titcab"  class="titcab" >  ORDEN DE COMPRA  </div>
    </div>


    <div class="columna" id="columna" >
    <div class="columnalst" id="columnalst" >

    <div class="columnalst1"  >
    <div class ="celdalistadot" >FECHA </div>
    <div class ="celdalistadot" >NRO ORDEN</div>
    <div class ="celdalistadot" >PROVEEDOR </div>
    </div>

    <div class="columnalst2">
    <div class ="celdalistadot" >RUC </div>
    <div class ="celdalistadot" >TIMBRADO</div>
    <div class ="celdalistadot" >TIPO DOC </div>
    </div>

    </div>
{% for ordencompcab in ordencompcab %}
    <div class="columnalst"  >
    <div class="columnalst1"  class="columnalst1" >
    <div class ="celdalistado" > {{ ordencompcab.fecha |date:'d-m-Y'}}</div>
    <div class ="celdalistado" > {{ ordencompcab.nroorden }}</div>
    <div class ="celdalistado" > {{ ordencompcab.proveedor }}</div>
    </div>

    <div class="columnalst2"  >
    <div class ="celdalistado" > {{ ordencompcab.ruc }}</div>
    <div class ="celdalistado" > {{ ordencompcab.timbrado }}</div>
    <div class ="celdalistado" > {{ ordencompcab.tipodoc }}</div>

   <div class ="cellistbtn" >
       <a href="{% url 'ordencompcab_cargar' pk_token=ordencompcab.pkf %}">
        <button class="btnlstm">cargar</button>
        </a>
   </div>

   </div>   <! columnalst2>
   </div>   <! columnalst>
{% endfor %}
</div> <! columna >

{% endblock %}
</body>
</html>

