{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html>

<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
	<script src="{% static '/ventas/ventas/cliente.js' %}"></script>
<script src="{% static '/stock/stock/articulos.js' %}"></script>

<link rel="stylesheet" href="{% static '/ventas/ventas/notadebitodeventa.css' %}">
<script src="{% static '/ventas/ventas/notadebitodeventa.js' %}"></script>
<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>

</head>
<body onload="actelementos(), cargarcombos(), actventaelem()" >
	<div id="cab"  class="cab" >
		<div  id="btncab"  class="btncab" >
			<a class="btn" href="{% url 'menuventas' %}" >RETORNAR</a>
		</div>
	<div  id="titcab"  class="titcab" > {{ title }}</div>
    </div>
		<form id="notadebitoventa_frm" action="{{ sidr }}" method="POST">
        {% csrf_token %}
		<div id="columna0"  class="columna0" >
		<div id="columna1"  class="columna1" >
		<div  class="campo1" > <label >fecha :</label>   </div>
		<div  class="campo2" >  <input  {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fecha" name="fecha" value="{{ notadebitoventacab.fecha |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > <label >nroorden:</label>   </div>
		<div  class="campo2" >  <input {% if not hab2 %}disabled{% endif %} type="text"  class="txtnrofactura" id="id_nrodebito" name="nrodebito" value="{{ notadebitoventacab.nrodebito }}" > <br> </div>
		<div  class="oclultar" > <label >idventacab:</label >   </div>
		<div  class="oclultar" >  <input {% if not hab2 %}disabled{% endif %} type="text" id="id_pknd"  name="pknd" value="{{ pknd }}"><br> </div>
		<div  class="oclultar" > <label >idcliente:</label >   </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %} type="text" id="id_idcliente"  name="idcliente" value="{{ notadebitoventacab.idcliente }}"><br> </div>
		<div  class="campo1" > 	<label >cliente:</label>   </div>
		<div  class="campo2" > <input  {% if not hab2 %}disabled{% endif %} type="text"  id="id_cliente" name="cliente"  list="cli_list" onchange="codigocli(this.value)" value="{{ notadebitoventacab.cliente }}"><br> </div>
		</div>   <!-- COLUMNA 1 -->
		<div id="columna2"  class="columna2" >
		<div  class="campo1" > <label >ruc:</label>   </div>
		<div  class="campo2" >  <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_ruc" name="ruc" value="{{ notadebitoventacab.ruc }}"><br> </div>
		<div  class="campo1" > <label >timbrado:</label>   </div>
		<div  class="campo2" >  <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_timbrado" name="timbrado" value="{{ notadebitoventacab.timbrado }}"><br> </div>
    	<div  class="campo1" > <label >tipodoc:</label>   </div>
		<div  class="campo2" >  <input {% if not hab2 %}disabled{% endif %} class="txtfecha" type="text"  id="id_tipodoc" name="tipodoc"  list="tipodoc_list" value="{{ notadebitoventacab.tipodoc }}"><br> </div>

		</div>   <!-- COLUMNA 1 -->
		<div id="columna3"  class="columna2" >
		<div  class="oclultar" > <label >direccion:</label>   </div>
		<div  class="oclultar" >  <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_condicion" name="condicion" value="{{ notadebitoventacab.condicion }}"><br> </div>
		<div  class="campo1" > 	<label >fechavto :</label>   </div>
		<div  class="campo2" > 	<input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fechavto" name="fechavto" value="{{ notadebitoventacab.fechavto |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > 	<label >fecharece :</label>   </div>
		<div  class="campo2" > 	<input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fecharece" name="fecharece" value="{{ notadebitoventacab.fecharece |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > <label >obs:</label>   </div>
		<div  class="campo2" >  <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_obs" name="obs" value="{{ notadebitoventacab.obs }}"><br> </div>
		</div>   <!-- COLUMNA 3 -->

		</div><!-- COLUMNA 0-->
		</form>



		<div class="botones" >
 			{% if not hab1 %}
			<a class="boton" href="#" onclick="document.getElementById('notadebitoventa_frm').submit();">GUARDAR</a>
		    <a class="boton" href="{% url 'notadebitoventacab_cargar' pk_token=pk_token|default:0   %}" >CANCELAR</a>
			{% endif %}
 			{% if not hab2 %}
			<a class="boton" href="{% url 'notadebitoventacab_crear' %}" >NUEVO</a>
		    <a class="boton" href="{% url 'notadebitoventacab_editar' pk_token=pk_token|default:0   %}" >EDITAR</a>
			<a class="boton" href="{% url 'notadebitoventacab_eliminar' pk_token=pk_token|default:0   %}" >ELIMINAR</a>
			<a class="boton" href="{% url 'notadebitoventacab_filtro' %}" >BUSCAR</a>
			{% endif %}
		</div>

		<div id="listadodet" class="listadodet">
			<ul id="notadevventa-list">

			</ul>
		</div>

</body>
</html>
{% endblock %}

{% block scripts %}
  <script>
    {% if messages %}
      {% for message in messages %}
         Swal.fire({  title: '',
          			  text:  '{{ message }}',
  					  icon: '{{ message.tags }}',
  		 customClass: {
    	 container: 'msnsuccess',

  }
});

      {% endfor %}
    {% endif %}


    </script>

{% endblock %}

