{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html xmlns:color="http://www.w3.org/1999/xhtml">

<head>
<script src="{% static '/ventas/ventas/cliente.js' %}"></script>
<script src="{% static '/ventas/ventas/pagoclicab.js' %}"></script>
<link rel="stylesheet" href="{% static '/ventas/ventas/pagoclicab.css' %}">

<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>


</head>
<body onload="actelementos(), cargarcombos(), actcompelem()" >
	<div id="cab"  class="cab" >
		<div  id="btncab"  class="btncab" >
			<a class="btn" href="{% url 'menucliente' %}" >retorno</a>
		</div>
		<div  id="titcab"  class="titcab" >  {{ title }}  </div>
    </div>

		<form id="pagoclicab_frm" action="{{ sidr }}" method="POST">
        {% csrf_token %}
		<div id="columna0"  class="columna0" >
		<div id="columna1"  class="columna1" >
		<div  class="campo1" > <label >fecha :</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="date" class="txtfecha" id="id_fecha" name="fecha" value="{{ pagocliente.fecha |date:'Y-m-d'}}"><br> </div>
		<div  class="campo1" > <label >recibo:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  class="txtnrofactura" id="id_recibo" name="recibo" value="{{ pagocliente.recibo }}" > <br> </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %} type="text" id="id_pkf"  name="idpkf" value={{ pkf }}><br> </div>
		<div  class="oclultar" > <input {% if not hab2 %}disabled{% endif %} type="text" id="id_idcliente"  name="idcliente" value={{ pagocliente.idcliente }}><br> </div>
		<div  class="campo1" > 	<label >cliente:</label>   </div>
		<div  class="campo2" > <input {% if not hab2 %}disabled{% endif %} type="text"  id="id_cliente" name="cliente"  list="cli_list" onchange="codigocli(this.value)" value="{{ pagocliente.cliente }}"><br> </div>

		</div>   <!-- COLUMNA 1 -->
		</div><!-- COLUMNA 0-->
		</form>

		<div   class="botones" >
 			{% if not hab1 %}
			<a class="boton" href="#" onclick="document.getElementById('pagoclicab_frm').submit();">GUARDAR</a>
		    <a class="boton" href="{% url 'pagoclicab_cargar' pk_token=pkf|default:0   %}" >CANCELAR</a>
			{% endif %}
 			{% if not hab2 %}
			<a class="boton" href="{% url 'pagoclicab_crear' %}" >NUEVO</a>
		    <a class="boton" href="{% url 'pagoclicab_editar' pk_token=pkf|default:0   %}" >EDITAR</a>
			<a class="boton" href="{% url 'pagoclicab_eliminar' pk_token=pkf|default:0   %}" >ELIMINAR</a>
			<a class="boton" href="{% url 'pagoclicab_filtro' %}" >BUSCAR</a>
			{% endif %}

		</div>

		<div id= "lin0fact +'" class ="detallelinea1" style="background-color:white; width:80%;  padding-left: 10px;" >
        <label id="lin0fact0" style= " color: black;  font-size: 18px;  line-height: 1; font-weight: bold;"
      	 > CUOTAS PAGADAS  </label>
			<a class="btn" href="{% url 'pagocliafact_listar' pk_token=pkf|default:0 %}" style= " color: black;  font-size: 18px;" >CARGAR / FACT</a>
    	 </div>

		<div id="listpagofact" class="listadodet"> <ul id="pagoclifact-list"></ul>	</div>
			<div id= "lin00'+ lin +'" class ="detallelinea1" style="background-color:white; width:80%;  padding-left: 10px;" >
        <label id="jjje" style= " color: black;  font-size: 18px;  line-height: 1; font-weight: bold;"
      	 > FORMA PAGADAS </label>
			<a class="btn"  onclick="limpiardetp(1);" style= " color: black;  font-size: 18px;" >CARGAR / PAGO</a>
    	</div>
		<div id="pagoclifpago" class="listadodet"> <ul id="pagoclifpago-list"></ul>	</div>
</body>
</html>
{% endblock %}

{% block scripts %}
  <script>
    {% if messages %}
      {% for message in messages %}
         Swal.fire({  title: '',
          			  text:  '{{ message }}',
  					  icon: '{{ message.tags }} ',
  		 customClass: {
    	 container: 'msnsuccess',

  }
});

      {% endfor %}
    {% endif %}


    </script>

{% endblock %}