*{
margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

body{
    line-height:18px;
}
a:link, a:visited, a:active {
    text-decoration:none;
     text-transform: uppercase;
}

/*a{
    font-family:'Roboto',seans-serif;
    text-decoration:none;
    border: 1px solid #000000;
     color:#fff;
}*/


.btn-menu {
    padding:20px;
    background:#fff;
    color:#fff;
 }
 .btn-menu .icono {
float: right;     
     
     
 }
