{% extends "base/base.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<html>

<head>
<script src="{% static '/inicio/js/principal.js' %}"></script>
<link rel="stylesheet" href="{% static '/stock/stock/movdep.css' %}">
<script src="{% static '/stock/stock/movdep.js' %}"></script>
<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>
</head>
<body onload="actelementos(), procesarfun()">

	<div id="cab"  class="cab" >
	<div  id="btncab"  class="btncab" >
	        <a class="btn" href="{% url 'movdepcab_filtro' %}" >RETORNAR</a>
    </div>
	<div  id="titcab"  class="titcab" >  LIST MOV DEPOSITO  </div>
    </div>

    <div class="columna" id="columna" >
    <div class="columnalst" id="columnalst" >

    <div class="columnalst1"  >
    <div class ="celdalistadot" >FECHA </div>
    <div class ="celdalistadot" >NRO MOV</div>
    <div class ="celdalistadot" >SALIDA </div>
    </div>
    <div class="columnalst1">
    <div class ="celdalistadot" >ENTRADA </div>
    </div>
    </div>

{% for movdepcab in movdepcab %}
    <div class="columnalst"  >
    <div class="columnalst1"  class="columnalst1" >
    <div class ="celdalistado" > {{ movdepcab.fecha |date:'d-m-Y'}}</div>
    <div class ="celdalistado" > {{ movdepcab.nromov }}</div>
    <div class ="celdalistado" > {{ movdepcab.depsalida}}</div>
    </div>
    <div class="columnalst2"  >
        <div class ="celdalistado" > {{ movdepcab.depentrada}}</div>

   <div class ="cellistbtn" >
       <a href="{% url 'movdepcab_cargar' pk_token=movdepcab.pkmd %}">
        <button class="btnlstm">cargar</button>
        </a>
   </div>

   </div>   <! columnalst2>
   </div>   <! columnalst>
{% endfor %}
</div> <! columna >

{% endblock %}
</body>
</html>

