{% csrf_token %}
{% block content %}
{% load static %}
{% csrf_token %}

<html>

<head>
<link rel="stylesheet" href="{% static '/inicio/css/login.css' %}">
<script src="{% static '/inicio/js/login.js' %}"></script>
<script src="{% static '/js/sweetalert2.all.min.js' %}"></script>


</head>
<body onload="actelementos()">
<form id="compra_frm" action="{{ sidr }}" method="POST">
        {% csrf_token %}
<div  class="contusuario">
<div  class="usuario">

	<div id="cab"  class="cab" >
    </div>
    <p>
        <label for="usernamet" class="usernamet" > Nombre de usuario: </label>
        <input id="username" class ="username" value ="luis" name="username"  type="text" placeholder="nombre de usuario"/>
    </p>
    <p> <label for="passwordt" class="passwordt"> Contraseña:</label>
         <input id="password" class="usercont" name="password" value="luis" type="password" placeholder="contraseña"/>
    </p>
    <p> <label  id="msne" class="msnexito"> </label>
       <button class="btningusu"  href="{% url 'login' %}">INGRESAR</button>    </p>

 </div>
</div>
</form>
</body>
</html>
{% endblock %}

{% block scripts %}
  <script>
  {% if messages %}
  {% for message in messages %}
            Swal.fire({
                title: 'LOGIN NO ENCONTRADO',
                text: 'desea seguir intentado ',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'salir'
            })
 {% endfor %}
 {% endif %}
 </script>

{% endblock %}