{% extends "base/base.html" %}
{% block content %}
{% load static %}

<html lang="en">
<head>
<link rel="stylesheet" href="{% static '/inicio/css/menu.css' %}">

</head>
<body onload="actelementos()">



 <div class="contenedor-menu-cat">
 <ul class="menu-cat">
  <li><a class ="atexttit" href="#"onclick="seleccab();"></a>  <ul class="menu-cat">
  {% if  habcmp %}  <li><a href="{% url 'menucompras' %}" >COMPRA</a> </li>{% endif %}
  {% if  habcmp %}  <li><a href="{% url 'menuproveedor' %}">PROVEEDOR</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menuventas' %}" >VENTA</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menucliente' %}" >CLIENTE</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menuventas' %}" >CONFIGURACIONES</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menustock' %}" >STOCK</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menuventas' %}" >TESORERIA</a> </li>{% endif %}
  {% if  habprov %} <li><a href="{% url 'menuventas' %}" >CONTABILIDADA</a> </li>{% endif %}
 </li>
 </ul> </div>
</body>
</html>
{% endblock %}