
.tabla{
float:left;
padding-left:10px;
}

.Table_lstinv001{
float:left;
width: 950px;
height: 100%;
}

.Title_lstinv001{
float:left;
width:900px;
height:30px;
background-color:#2E86C1;
font: 18px Arial,  sans-serif ,bold;
text-decoration:none;
text-align: center;
justify-content: center;
border: 1px solid #000000;
}
.Row_form_lst{
/*display: table-row;*/
}
.Title_listinv001{
float:left;
width:900px;
height:30px;
padding-top:8px;
background-color:#D5DBDB ;
border: 1px solid #000000;
font: 12px Arial,  sans-serif ,bold;
}
.Heading{
display: table-row;
font-weight: bold;
text-align: center;
border: 1px solid #000000;
}

.datos_listinv001,.Title_listinv001{
float:left;
width:900px;
height:30px;
padding-top:8px;
background-color:#D5DBDB ;
border: 1px solid #000000;
font: 12px Arial,  sans-serif ,bold;
}
.Title_dato_promo{
background-color:#00CED1 ;
text-align: center;
justify-content: center;
}

.btn_listinv001{
float:left;
width:900px;
height:30px;
background-color:#E3BB84  ;
border: 1px solid #000000;
}

 
