*{
margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

body{
   
    line-height:18px;
}
a:link, a:visited, a:active {
    text-decoration:none;
     text-transform: uppercase;
}

/*a{
    font-family:'Roboto',seans-serif;
    text-decoration:none;
    border: 1px solid #000000;
     color:#fff;
}*/


.btn-menu {
    padding:20px;
    background:#fff;
    color:#fff;
 }
 .btn-menu .icono {
float: right;
 }
.contenedor-menu-cat {
border: 1px solid #000000;
width:20%;
min-width:150px;
height:100%;
border-radius: 3px ;
background-color:#fff;
float:left;
border-color: transparent;
}

.contenedor-menu-cat .menu-cat {
width:100%;
}  
.contenedor-menu-cat ul {
list-style:none;    
 }  
.contenedor-menu-cat .menu-cat li a {
color:#fff;
display:block;
padding:15px 20px;
background:#778899;   

}  
.contenedor-menu-cat .menu-cat li a:hover {
 background:#4169E1;
 color:#fff;
 } 
 .contenedor-menu-cat .menu-cat .icono {
     font-size:4px;
     line-height:16px;
 } 
.contenedor-menu-cat .menu-cat .icono.izquierda {
float:left;
margin-right:10px;
 } 
 .contenedor-menu-cat .menu-cat .icono.derecha {
float:right;
margin-left:10px;
 } 
 .contenedor-menu-cat .menu-cat ul{
 display:none;
  } 
 .contenedor-menu-cat .menu-cat ul li a {
 background:#424242;
 color:#fff;
 } 
 .contenedor-menu-cat .menu-cat .activado > a {
 background:#1E90FF; 
 color:#fff;
 } 
.atext{
font: 11px Arial;
}
.atexttit{
font: 14px Arial;
}
